body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  background-image: url(images/90s-background.jpg);
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-family: "Press Start 2P", sans-serif;
  color: white;
  background-color: #4551c7;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #4551c7;
}

h1 {
  font-size: 48px;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  background: #ee75ad;
  padding: 50px 20px;
  margin-top: 10px;
  border: white 3px solid;
  height: 95%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: #ef9da3;
}

/* GRID = 20x20 squares */

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #53b25b;
  box-sizing: border-box;
  border: 1px solid #2d6532;
  border-radius: 40%;
}

.apple {
  background-image: url(images/apple-2327.png);
  background-repeat: no-repeat;
}

.credit {
  font-size: 10px;
  margin-top: 30px;
}
